#cdek-map {
    max-width: 800px;
    min-width: 300px;
    height: 600px;
    position: relative;
    outline: none;
    top: 100px;
}

#cdek-map-results {
    display: flex;
    width: 800px;
    height: 40px;
    gap: 20px;
    position: absolute;
    text-align: center;
}

#cdek-map-results > div {
    background: #E58787;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    gap: 10px;
}

#cdek-map-results > div.selected {
    background: #93BB8C;
}

#cdek-map-results div {
    width: 100%;
    height: 100%;
}

#cdek-map-results div h5 {
    font-weight: bold;
    margin: 0;
}

#cdek-map-results img {
    width: 40px;
}

body a {
    color: #2271b1;
}

body h2, body h3 {
    font-size: 1.3em;
    margin: 1em 0;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
    font-weight: 600;
}

/*#map-container {*/
/*    display: none;*/
/*}*/

.reg-elem {
    cursor: pointer;
}

.reg-elem:hover {
    background: lightblue;
}

#region-list {
    max-height: 100px;
    overflow: auto;
    width: 400px;
    background-color: #ffffff;
    border-color: #2271b1;
    box-shadow: 0 0 0 1px #2271b1;
    outline: 2px solid transparent;
}

#region-list:empty {
    display: none;
}

#delete-order-btn {
    cursor: pointer;
    color: #b32d2e;
    text-decoration: none;
    margin-left: auto;
}

#delete-order-btn:hover {
    text-decoration: underline;
}

#delete-order-btn.clicked {
    color: gray;
    text-decoration: none;
    cursor: default;
}

#cdek-create-order-error {
    color: #b32d2e;
}

#cdek-delete-order-error {
    color: #b32d2e;
}

#cdek-courier-info {
    margin: auto;
}

#cdek-courier-error {
    color: #b32d2e;
}

#cdek-courier-block {
    margin-top: 10px;
}

#call-courier-form {
    display: none;
}

#cdek-courier-block input {
    margin-top: 5px;
}

#cdek-courier-block p {
    margin: auto;
}

#cdek-courier-delete {
    color: #b32d2e;
    text-decoration: none;
}

#cdek-courier-delete:hover {
    text-decoration-line: underline;
}

#cdek-order-courier {
    margin: auto;
    color: #2271b1;
    cursor: pointer;
}

#cdek-order-courier:hover {
    text-decoration-line: underline;
}

#cdek-order-waybill, #cdek-order-barcode {
    text-decoration: none;
    margin: auto;
}

#cdek-order-waybill:hover, #cdek-order-barcode:hover {
    text-decoration-line: underline;
}

#cdek-order-barcode {
    display: block;
}

#cdek-courier-delete {
    cursor: pointer;
}

#cdek-loader {
    z-index: 50;
    /*background-color: #e3e5e5;*/
    position: absolute;
    width: 91%;
    height: 94%;
    opacity: 50%;
    background: rgba(255, 255, 255, 0.8) url(../img/preloader.gif) center center no-repeat;
}

.cdek-error {
    padding: 5px;
    background: #E58787;
}
