.eventWinners-slider > .slick-list > .slick-track > .slick-slide > div {
  margin: 0 5px;
  height: 100%;
}

.eventWinners-slider > .slick-list {
  margin: 0 -5px;
}

.eventWinners-slider {
  overflow: visible !important;
}

.eventWinners-slider > .slick-arrow {
  z-index: 100;
  &::before {
    color: #00000074;
    font-size: 40px;
    line-height: 0.8;
  }
}
.eventWinners-slider > .slick-prev {
  left: -20px;
}
.eventWinners-slider > .slick-next {
  right: 0px;
}
