.productSelector-slider > .slick-list > .slick-track > .slick-slide > div {
  margin: 0 5px;
}
.productSelector-slider > .slick-list {
  margin: 0 -5px;
}
.productSelector-slider > .slick-arrow {
  z-index: 100;
  &::before {
    color: #000000ab;
    font-size: 40px;
    line-height: 0.8;
  }
}
.productSelector-slider > .slick-prev {
  left: -2px;
}
.productSelector-slider > .slick-next {
  right: 14px;
}

.productSelector-slider {
  overflow: visible;
}
