.news-slider > .slick-list > .slick-track > .slick-slide > div {
  margin: 0 5px;
}
.news-slider > .slick-list {
  margin: 0 -5px;
}

.news-slider > .slick-arrow {
  z-index: 100;
  &::before {
    color: #0000003f;
    font-size: 40px;
    line-height: 0.8;
  }
}
.news-slider > .slick-prev {
  left: 4px;
}
.news-slider > .slick-next {
  right: 25px;
}
